{% extends 'base.html' %}

{% block content %}

        <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" name="submit" value="Request Balance Sheet"/>
        </form>
        
        {% if submitbutton == "Request Balance Sheet"  %} 
        <h1> Your loan_amount is {{ loan_amount }} </h1> 

        <h2> {{company_name}} Balance Sheet for year 2022</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Month</th>
            <th>ProfitOrLoss</th>
            <th>assetValue</th>
          </tr>
        </thead>

        <tbody>      
            {% for bsheet in balance_sheet %}      
            <tr>
            <span> <td>{{ bsheet['year']}} </td></span>
            <span> <td>{{ bsheet['month']}} </td></span>
            <span> <td>{{ bsheet['ProfitOrLoss']}} </td></span>
            <span> <td>{{ bsheet['assetValue']}} </td></span>
            </tr>
            {% endfor %} 
        </tbody>
      </table>

        <h1> Average Asset Value is {{ average_assetvalue }} </h1> 
        <h1> PreAssessment value is {{preAssessment}} </h1>
        <h1> Loan Application status : {{ decision }} </h1> 

        {% endif %}

{% endblock  %}
